<!--Footer -->
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Company<span>logo</span></h3>
        <br><br><br>
        <div>
            <a href="#" id="home" class="footer-links"><span>·</span> Home</a>
            <a href="#" id="about" class="footer-links"><span>·</span> About Us</a>
            <a href="#" id="company" class="footer-links"><span>·</span> Company</a>
            <br><br><br>
            <a href="#" id="product" class="footer-links"><span>·</span> Products</a>
            <a href="#" id="contact" class="footer-links"><span>·</span> Contact</a>
        </div>
        <br><br><br>
        <p class="footer-company-name">SBRM Exports © 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span style="font-size: 20px;"><strong>SBRM Exports</strong></span>
                <span>Sorathur , Panruti Taluk</span>
                <span>Cuddalore , TamilNadu</span>
                <span>Pincode : 607805</span>
            </p>
        </div>

        <br>

        <div>
            <i class="fa fa-phone"></i>
            <p><span>9047510722 , 8883325979</span>
                <span>9047069649</span>
            </p>
        </div>
        <br>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:sbrmexports@gmail.com">sbrmexports@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    </div>

</footer>

<!--Footer -->



