<div data-ng-include="'views/navbar.html'"></div>
<div ng-controller="homeController as ctrl">
    <!--Carousel

    <div id="carousel-example-generic" class="carousel slide carousel-fade carousel-fullscreen" data-ride="carousel">
        <!-- Indicators
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../images/carousel1.jpg" alt="">
                <div class="overlay"></div>
                <div class="carousel-caption">
                    <h1>Carousel in a container</h1>
                    <p>This is a demo for the Bootstrap Carousel Guide.</p>
                </div>
            </div>
            <div class="item">
                <img src="../images/carousel2.jpg" alt="">
                <div class="overlay"></div>
                <div class="carousel-caption">
                    <h1>Carousel in a container</h1>
                    <p>This is a demo for the Bootstrap Carousel Guide.</p>
                </div>
            </div>
            <div class="item">
                <img src="../images/carousel3.jpg" alt="">
                <div class="overlay"></div>
                <div class="carousel-caption">
                    <h1>Carousel in a container</h1>
                    <p>This is a demo for the Bootstrap Carousel Guide.</p>
                </div>
            </div>
        </div>

        <!-- Controls
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    <!--Carousel-->


    <div class="cover-slider__wrap">
        <ul class="cover-slider">
            <li class="cover-slider__slide">
                <span class="hide">Alt Tag</span>
            </li>
            <li class="cover-slider__slide">
                <span class="hide">Alt Tag</span>
            </li>
            <li class="cover-slider__slide">
                <span class="hide">Alt Tag</span>
            </li>
            <li class="cover-slider__slide">
                <span class="hide">Alt Tag</span>
            </li>
        </ul>
    </div>


   <!--Welcome Section -->

<div class="container-fluid">
    <h1 style="text-align: center;">Push and Pull</h1>
    <p style="text-align: center;">Resize the browser window to see the effect.</p>
    <br><hr>
    <div class="row">
        <div class="col-md-5">
            <img class="images" src="../images/nuts1.png" alt="">
        </div>
        <div class="col-md-6" style="background-color:lavenderblush;">
            <br><br>
            <p>
                Headquartered in Kollam, Kerala (India) is a Manufacturer – Exporter of cashew kernels over a decade and its among the most reputed supplier of quality Cashew Kernels from India.

            </p>
            <br>
            <p>
                The founder, SHIYAS belongs to the IV generation cashew industrialist having over 20 years exposure to the present line. The Company has a certified quality management system accredited under BRC Global standard in Food Safety (“A” Grade Certification), FSSC 22000, HACCP, ISO 22000:2005 (FSMS) & ISO 9001:2008 (QMS) & FSSAI.
            </p>
            <br>
            <p>
                We are totally committed in maintaining high standards and fostering a characteristics structure with the objective of developing, manufacturing and providing products with superior standards that are trusted and preferred by customers
            </p>
            <br>
            <p>
                We have a wide supply chain network across the globe that enable us to meet the bulk demand of cashews kernels within a committed time frame. Moreover, we cherish a cordial relationship with all our vendors which enable us to offer high nutritional value products to our clients
            </p>
            <br><br>
        </div>
    </div>
</div>
<hr>
   <!--Welcome Section-->

  <!--Certificates-->

<div class="container-fluid">
    <h1 style="text-align: center;">Push and Pull</h1>
    <p style="text-align: center;">Resize the browser window to see the effect.</p>
    <br><hr>
    <div class="row">
        <div class="col-md-5" style="margin-left: 50px;">
            <ul class="list-group">
                <a href="#" style="text-decoration: none;"> <li class="list-group-item list-group-item-success">First item</li> </a>
                <a href="#" style="text-decoration: none;">  <li class="list-group-item list-group-item-info">Second item</li></a>
                <a href="#" style="text-decoration: none;"> <li class="list-group-item list-group-item-warning">Third item</li></a>
                <a href="#" style="text-decoration: none;"> <li class="list-group-item list-group-item-danger">Fourth item</li></a>
                <a href="#" style="text-decoration: none;"> <li class="list-group-item list-group-item-success">Fifth item</li> </a>
            </ul>
        </div>

            <div class="col-md-6">
            <div id="carousel-example-generic2" class="carousel slide carousel-fade carousel-fullscreen2" data-ride="carousel"
                 style="margin-left: 100px;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../images/carousel1.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img src="../images/carousel2.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img src="../images/carousel3.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
    </div>
</div>
<hr>

  <!--Certificates-->

</div>

<div data-ng-include="'views/footer.html'"></div>

