<!-- Navbar -->
<div ng-controller="homeController as ctrl">
<nav class="navbar navbar-default  navbar-fixed-top"  style="z-index: 10;background-color:#33383b;font-family:Raleway,sans-serif;
    font-weight: 700;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <a class="navbar-brand" href="#">
            <img src="../images/logo.png ">
        </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="hov" ><a href="/" id="nav-home">HOME</a></li>
                <li class="hov"><a href="/#/about" id="nav-about">ABOUT US</a></li>
                <li class="hov"><a href="/#/company" id="nav-company">COMPANY</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hov"><a href="/#/product" id="nav-products">PRODUCTS</a></li>
                <li class="hov"><a href="/#/contact" id="nav-contact">CONTACT</a></li>
                <li class="hov"><a href="/#/login" id="nav-login">LOGIN</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<!-- navbar-->

</div>